run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="sqlite3"
DB_HOST="db4free.net"
DB_PORT="3306"
DB_USER="ao9orfl@126.com"
DB_PASS="linyd721128"
DB_NAME="liurun"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="true"
